<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chessboard.js Example</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.css') }}">
    <!-- Libraries -->
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/chessboard-1.0.0.js')}}"></script>
    <script type='module' src="{{ url_for('static', filename='js/chess.js')}}"></script>
    <script type='module' src="{{ url_for('static', filename='js/stockfish-16.1-lite-single.js')}}"></script>
</head>

<body>
<div id="myBoard" style="width: 400px"></div>
<label>Status:</label>
<div id="status"></div>
<label>FEN:</label>
<div id="fen"></div>
<label>PGN:</label>
<div id="pgn"></div>
<label>Rating:</label>
<div id="eval"></div>

<script type='module' src="{{ url_for('static', filename='js/main-board.js')}}"></script>
</body>
</html>